@import url("https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logo {
  font-family: "Playwrite VN";
  font-weight: bold;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

.menu a:hover {
  transition: color ease 0.3s;
  color: white;
}

.menu ul {
  display: flex;
  padding: 15px 0px;
  list-style: none;
}

.menu li {
  padding: 0px 15px;
}

.logo {
  padding: 0px 0px;
  font-size: 1.4em;
}

header {
  display: flex;
  justify-content: space-evenly;
  background-color: #4cd1fc;
  padding-top: 20px;
}

main {
  background-color: #4cd1fc;
  height: 100svh;
}

.section1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15vh;
}

.texto1 {
  width: 400px;
}

.texto1 h1 {
  font-size: 75px;
  color: #873738;
}

.texto1 p {
  font-size: 1.3em;
  text-align: justify;
}

.texto1 a {
  display: block;
  margin-top: 25px;
  text-decoration: none;
  color: #873738;
  font-weight: bold;
  font-size: 1.2em;
  border: 2px solid #873738;
  width: 130px;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.texto1 a:hover {
  transition: color ease 0.4s;
  color: white;
  background-color: #873738;
}

.rice {
  font-family: "Playwrite AU VIC";
  font-size: 0.9em;
}
